*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 98.8vw;
    height: 30px;
    /* border: solid black 1px; */
    /* background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
    color: whitesmoke;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    animation-duration: 1.5s;
    animation-name: header;
    animation-timing-function:linear;
    animation-delay:  0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes header{
    form{
        height: 10px;
    }
    to{
        height: 80px;
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
        border: solid black 1px;
    }
}
.container{
    height: 100vh;
    width: 98.8vw;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    /* display: flex;   
    justify-content:space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
  
}
.card1{
    height:450px;
    width:350px;
    border: black solid 1px;
    /* background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    border-radius: 20px;
}
.card1:hover{
    transform: scale(1.1);
}
#recipeimg{
    height:340px ;
    width:340px;
    padding: 3px;
    border-radius: 20px;
}
.card2{
    height:450px;
    width:350px;
    border: black solid 1px;
    /* background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    border-radius: 20px;
}
.card2:hover{
    transform: scale(1.1);
}
#blogimg{
    height:340px ;
    width:340px;
    padding: 3px;
    border-radius: 20px;
}
.card3{
    height:450px;
    width:350px;
    border: black solid 1px;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    border-radius: 20px;
}
.card3:hover{
    transform: scale(1.1);
}
p{
    padding: 3px;
}
/* .footer{
    width: 98.4vw;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 40px;
    border: black solid 1px;
    position: relative;
    bottom: 1px;
} */
