.container{
    /* height: 100vh; */
    width: 98.7vw;
    border: solid black 1px;
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.navbar{
    width: 97.7vw;
    height: 80px;
    border: solid black 1px;
    /* background-color: rgba(72, 164, 214, 0.907); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: none;
    padding: 5px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
#gmb{
    font-size: 50px;
    color: whitesmoke;
}
#info{
    font-size: 25px;
    display: flex;
    /* justify-content:space-evenly; */
    gap: 15px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.main{
    display: flex;
    justify-content: center;
}
.contentbox{
    width: 900px;
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
}
.theory1{
    padding: 5px;
    position: relative;
    left: 30px;
}
.recipe1{ 
    border: solid black 1px;
    margin: 20px;
    display: flex;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
#jamunimg{
    height: 330px;
    width: 300px;
    border: black 1px solid;
    position: relative;
    left: 137px;
    transition-duration: 0.3s ;
    transition-property: all ;
    transition-delay: 0s;
    transition-timing-function: linear;
    box-shadow: 4px 4px 6px black;
}
#jamunimg:hover{
    transform:scale(1.1);
}
.theory2{
    padding: 5px;
    position: relative;
    left: 30px;
}
.recipe2{
    display: flex; 
    justify-content: space-between; 
    border: solid black 1px;
    margin: 20px;
    background: #C9CCD3;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}
#barfiimg{
    height: 300px;
    width: 300px;
    border: black 1px solid;
    position: relative;
    left: 5px;
    transition-duration: 0.3s ;
    transition-property: all ;
    transition-delay: 0s;
    transition-timing-function: linear;
    box-shadow: 4px 4px 6px black;
}
#barfiimg:hover{
    transform:scale(1.1);
}
.theory3{
    padding: 5px;
    position: relative;
    left: 30px; 
}
.recipe3{
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    margin: 20px;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
#ladduimg{
    height: 300px;
    width: 300px;
    border: black 1px solid;
    position: relative;
    left: 4px;
    transition-duration: 0.3s ;
    transition-property: all ;
    transition-delay: 0s;
    transition-timing-function: linear;
    box-shadow: 4px 4px 6px black;
}
#ladduimg:hover{
    transform:scale(1.1);
}
li{
    font-size: 20px;
}
h2{
    border: solid 1px black;
    background-color: rgb(207, 168, 207);
    box-shadow: 4px 4px 6px black;
    /* transition-duration: 0.3s ;
    transition-property: all ;
    transition-delay: 0s;
    transition-timing-function: linear; */
}
/* h2:hover{
    background-color: rgb(152, 76, 152);
} */
h3{
    text-decoration: underline;
}
.footerbox
{
    width: 98.4vw;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 40px;
    border: black solid 1px;
    position: relative;
    bottom: 1px;
}
.footerbox p{
    color: whitesmoke;
    font-size: 2rem;
    text-align: center;
}